<ion-header>
  <ion-toolbar>
    <ion-title>
      F A Q
    </ion-title>
  </ion-toolbar>
  <ion-searchbar animated color="secondary" [(ngModel)]="searchText" placeholder="Search Category" showCancelButton="focus"></ion-searchbar>
</ion-header>



<ion-content>

  <div *ngFor=" let cat of The_categories | filter : searchText : 'nomCategorie' index as i ; ">

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Catégories : {{cat.nomCategorie}} -- {{cat.faq.length}}
          </mat-panel-title>
          <mat-panel-description>
            <ion-badge color="secondary"> {{cat.faq.length}} </ion-badge>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ion-list *ngFor=" let c of cat.faq index as j;">
          <ion-card class="welcome-card">
            <ion-card-header>
              <ion-card-title>{{c.question}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{c.reponse}} </p>
            </ion-card-content>
          </ion-card>
        </ion-list>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>


    </mat-accordion>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="opacity: 0.7;">
    <ion-fab-button>
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>