<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="faq">
      <ion-icon name="flash"></ion-icon>
      <ion-label>FAQ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="question">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Question</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
