<ion-header>
  <ion-toolbar>
    <ion-title> 
      Questions
    </ion-title>

    <ion-searchbar animated color="secondary" [(ngModel)]="searchText" placeholder="Search Category" showCancelButton="focus"></ion-searchbar>
    <ion-segment  scrollable  (ionChange)="segmenteChanged($event)">
      <ion-segment-button value="All">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngFor=" let cat of all" value="{{cat.nomCategorie}}">
        <ion-label>{{cat.nomCategorie}}</ion-label>
      </ion-segment-button> 
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content>



<br>

  <ion-item-group>
    <div *ngFor=" let cat of The_categories index as i ; ">

      <ion-item-divider color="medium">
        <ion-label>
          {{cat.nomCategorie}}
        </ion-label>
      </ion-item-divider>

      <ion-list *ngFor=" let c of cat.faq | filter : searchText : 'question' index as j;">
        <ion-card-header>
          <ion-card-title>{{c.question}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{c.reponse}} </p>
        </ion-card-content>
        <ion-item-divider color="light"> </ion-item-divider>
      </ion-list>

    </div>
  </ion-item-group>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="opacity: 0.7;">
    <ion-fab-button>
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>